[Unit]
Description=BL3P Trades
PartOf=bl3p.service
After=bl3p.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/python /home/roeles/projects/bl3p/code/bl3p-trades.py >> /home/archive/data/bl3p/trades.csv"
Restart=always
RestartSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=bl3p.service
